*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; display: block; color: #333;font-family: 'Noto Sans KR', sans-serif;}
img{width: 100%;}
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,body {
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}
section, header,footer , div {
    box-sizing: border-box;
}
section, header, footer {
    width: 100%;
    float: left;
}
.wrap{
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: #354259;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s;
}
header .header_center{
    width: 1400px;
    display: flex;
    justify-content: space-between; 
    margin: 0 auto;
}
header .header_mobile{
  display: none;
}
header .header_center .logo{
    margin-top: 15px;
    width: 100px;
}
header .header_center nav ul {
    display: flex;
    justify-content: space-between;
    width: 700px;
    font-size: 24px;
    font-weight: bold;
}
header .header_center nav ul li a{
    color: #fff;
}
.hover-4 {
    padding: 7px;
    border: 8px solid;
    border-image: repeating-linear-gradient(135deg,#354259 0 10px,#aef1e4 0 20px,#a7b1da 0 30px) 8;
    -webkit-mask: 
      conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
       var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
       0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
}
.hover-4:hover {
    --_i: 100%;
    color: #a7b1da;
    -webkit-text-stroke: 1px #aef1e4;
    transition: .3s, -webkit-mask-size .3s .3s;
}

/* section1 */
.a1{
    height: 90vh;
    background-color: #354259;
}
.a1 .a1_box{
    height: 100%;
    align-items: center;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.a1 .a1_box .a1_left a{
    width: 700px;
}
.a1_right .textcontainer {
  text-align: right;
}
.a1_right .particletext {
  font-weight: bold;
  text-align: center;
  font-size: 90px;
  position: relative;
  color: #354259;
  text-shadow: 0 8px 9px #c4b59d, 0px -3px 1px #fff;
  letter-spacing: -5px;
}
.particletext.hearts > .particle {
  opacity: 0;
  position: absolute;
  background-color: #7ADACC;
  -webkit-animation: hearts 3s ease-in infinite;
          animation: hearts 3s ease-in infinite;
}
.particletext.hearts > .particle:before, body .particletext.hearts > .particle:after {
  position: absolute;
  content: "";
  border-radius: 100px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #7ADACC;
}
.particletext.hearts > .particle:before {
  transform: translateX(-50%);
}
.particletext.hearts > .particle:after {
  transform: translateY(-50%);
}
@-webkit-keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}



/* section2 */
.a2 > h2{
    font-size: 42px;
    text-align: center;
    margin-top: 70px;
    color: #354259;
    text-shadow: 0 2px 5px #c4b59d, 0px -2px 1px #c4b59d;
}
.a2 > h5{
  text-align: center;
  font-size: 25px;
  margin: 50px 0 60px 0;
  font-weight: 500;
  color: #354259;
}
.a2 > h5 .particletext {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  position: relative;
  color: #354259;
  text-shadow: 0 8px 9px #c4b59d, 0px -3px 1px #fff;
  letter-spacing: 5px;
}
.a2 .a2_box{
    width: 1400px;
    margin: 30px auto 70px;
    display: flex;
    justify-content: space-between;
}
.a2 .a2_box .a2_left a{
    width: 300px;
    box-shadow: 3px 3px 6px rgb(139, 139, 139);
}
.a2 .a2_center ul li{
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.a2 .a2_center ul li:last-child{
    margin-top: 130px;
}
.a2 .a2_center ul li a{
    width: 120px;
}
.a2 .a2_center ul li p{
    color: #749fcc;
  --hover: #354259;
    padding: 7px 30px;
    border: 2px solid #749fcc;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    transition: all 0.5s;
}
.a2 .a2_center ul li:last-child p{
    padding: 7px 43px;
}
.a2 .a2_center ul li p:hover,
.a2 .a2_center ul li p:focus{
    box-shadow: inset 0 0 0 2em var(--hover);
    border: 2px solid #354259;
    color: #fff;
}
.a2 .a2_box .a2_right{
    line-height: 30px;
    /* margin-top: 10px; */
}
.a2 .a2_box .a2_right ul{
    /* border: 5px solid #354259; */
    padding: 10px 30px;
}
.a2 .a2_box .a2_right ul li{
    display: flex;
    margin-bottom: 30px;
}
.a2 .a2_box .a2_right ul li span{
    color: #354259;
    font-weight: bold;
    font-size: 20px;
}
.a2 .a2_box .a2_right ul li p{
    margin-left: 70px;
}
.a2 .a2_box .a2_right ul li:nth-child(2) p {
    margin-left: 50px;
}
.a2 .a2_box .a2_right ul li:last-child p {
    margin-left: 90px;
}


/* section3 */
.a3{
    text-align: center;
    background-color: #ddd;
    /* transform: skewY(5deg); */
    background-color: #354259;
}
.a3 > h2{
    /* transform: skewY(-5deg); */
    font-size: 42px;
    margin-top: 70px;
    color: #354259;
    text-shadow: 0 2px 5px #c4b59d, 0px -2px 1px #fff;
}
.tool-set {
  /* transform: skewY(-5deg); */
  transform: scale(1.2);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap:  nowrap;
  justify-content: space-between;
}
.tool-set svg {
  /* max-width: 600px;
  height: auto;
  width: 100%; */
  margin-bottom: 100px;
}
.tool-set svg .text {
  font-size: 12px;
  text-align: center;
  display: flex;
  position: relative;
}
.tool-set svg .tool-illustrator {
  position: absolute;
  transform: translate(185px, 120px);
}
.tool-set svg .tool-indesign {
  position: absolute;
  transform: translate(203px, 390px);
}
.tool-set svg .tool-sketch {
  position: absolute;
  transform: translate(40px, 190px);
}
.tool-set svg .tool-invision {
  position: absolute;
  transform: translate(50px, 317px);
}
.tool-set svg .tool-scss {
  position: absolute;
  transform: translate(65px, 190px);
}
.tool-set svg .tool-git {
  position: absolute;
  transform: translate(60px, 315px);
}
.tool-set svg .tool-vscode {
  position: absolute;
  transform: translate(185px, 390px);
}
.tool-set svg .tool-css {
  position: absolute;
  transform: translate(198px, 120px);
}

@keyframes designTool {
  0% {
    stroke-dashoffset: 700;
  }
  10% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 0;
  }
  90% {
    stroke-dashoffset: -700;
  }
  100% {
    stroke-dashoffset: -700;
  }
}
.design-tool-line {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: designTool 6s ease-out infinite running;
}

@keyframes codingTool {
  0% {
    stroke-dashoffset: 700;
  }
  10% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 0;
  }
  90% {
    stroke-dashoffset: -700;
  }
  100% {
    stroke-dashoffset: -700;
  }
}
.coding-tool-line {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: codingTool 6s ease-out infinite running;
}
/* section4 */
.a4{
    text-align: center;
}
.a4 > h2{
    font-size: 42px;
    margin-top: 70px;
    color: #354259;
    text-shadow: 0 3px 5px #c4b59d, 0px -2px 1px #c4b59d;
}
.a4 .a4_mobile{
  display: none;
}
.a4 .a4_pc .a4_top{
    width: 1400px;
    margin: 100px auto 0;
}
.a4 .a4_pc .a4_top ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .a4의 전체 button */
.a4 button{
  --hover: #354259;
    color: #354259;
    padding: 7px 30px;
    border: 2px solid #354259;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -2px;
    transition: all 0.5s;
}
.a4 .a4_pc .a4_center{
    width: 1400px;
    margin: 50px auto ;
}
.a4 .a4_pc .a4_center > div > div > div{
  width: 290px;
}
.swiper {
  z-index: 0;
}
.swiper-wrapper{
  z-index: 0;
  padding: 50px 0;
}
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 1%;
  bottom: 0;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-scrollbar-drag {
  background: #354259;
}
.swiper-pagination-bullet-active{
  background: #354259;
}
.a4 button:hover,
.a4 button:focus{
    box-shadow: inset 8em 0 0 0 var(--hover);
    color: #fff;
}


/* section5 */
/* .a5{
  width: 100%;
  background-color: #354259;
} */
.a5 > h2{
    font-size: 42px;
    text-align: center;
    margin: 70px 0;
    color: #354259;
    text-shadow: 0 3px 5px #c4b59d, 0px -2px 1px #c4b59d;
}
.a5 .a5_box{
    width: 1000px;
    margin: 50px auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.a5 .a5_box .a5_left{
    height: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.a5 .a5_box .a5_left #name,
.a5 .a5_box .a5_left #email{
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 0 12px;
    outline: none;
    box-shadow: inset 0 4px 3px #ddd;
}
.a5 .a5_box .a5_left #message{
    width: 400px;
    height: 200px;
    padding: 12px;
    outline: none;  
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 4px 3px #ddd;
}
.pure-button {
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  color: #444;
  /* color: rgba(0,0,0,.8); */
  border: transparent;
  background-color: #fff;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: inset 0 4px 3px #ddd;
}
.thankyou_message{
  width: 400px;
  margin: 150px 0 0 100px;
  font-size: 24px;
  line-height: 70px;
}



fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: none;
  border-style: none;
  border-color: none;
  border-image: initial;
}


/* section5에 자전거타는 사람 */
.a5 .a5_right{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: scaleX(-1) scale(0.6);
}
.main {
    position: relative;
    width: 60vw;
    height: 45vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }
  
  /* Component */
  .lines {
    width: 100%;
    height: 100%;
    transform: rotateZ(10deg);
  }
  
  .line-a,
  .line-b,
  .line-c,
  .line-d {
    position: absolute;
    height: 0.175vw;
    border-radius: 50%;
    background-color: #FFF6EF;
  }
  
  .line-a {
    width: 12vw;
    bottom: 20vw;
    left: 7vw;
    animation: line-a 0.15s infinite linear;
  }
  
  .line-b {
    width: 10vw;
    bottom: 18vw;
    left: 6vw;
    animation: line-b 0.2s infinite linear;
  }
  
  .line-c {
    width: 6vw;
    bottom: 12vw;
    left: 12vw;
    animation: line-c 0.1s infinite linear;
  }
  
  .line-d {
    width: 6vw;
    bottom: 26vw;
    left: 15vw;
    animation: line-d 0.135s infinite linear;
  }
  
  .shadows {
    position: absolute;
    top: 13.5vw;
    left: 20.3vw;
    width: 27vw;
    height: 19vw;
    transform-origin: top left;
    transform: rotateZ(10deg);
    z-index: -5;
  }
  
  .shadow-a,
  .shadow-b,
  .shadow-c,
  .shadow-d {
    position: absolute;
    border-radius: 50%;
  }
  
  .shadow-a {
    bottom: -0.5vw;
    width: 150%;
    left: -25%;
    height: 1vw;
    background-color: rgba(109, 84, 80, 0.5);
    animation: shadow-a 0.15s infinite linear;
  }
  
  .shadow-b {
    bottom: -1.5vw;
    width: 100%;
    right: -25%;
    height: 0.45vw;
    background-color: rgba(109, 84, 80, 0.5);
    animation: shadow-b 0.175s infinite linear;
  }
  
  .shadow-c {
    bottom: -4vw;
    left: 100%;
    border-top: 2vw solid rgba(109, 84, 80, 0.5);
    border-right: 2vw solid rgba(109, 84, 80, 0.5);
    border-bottom: 2vw solid transparent;
    border-left: 2vw solid transparent;
    transform-origin: bottom left;
    transform: rotateZ(-45deg);
    opacity: 0;
    animation: shadow-c 0.45s infinite linear;
  }
  .shadow-c::before {
    content: "";
    position: absolute;
    left: 2vw;
    top: 2vw;
    border-top: 1vw solid rgba(109, 84, 80, 0.75);
    border-right: 1vw solid rgba(109, 84, 80, 0.75);
    border-bottom: 1vw solid transparent;
    border-left: 1vw solid transparent;
    border-radius: 50%;
  }
  
  .shadow-d {
    bottom: -2vw;
    left: 100%;
    border-top: 1.5vw solid rgba(109, 84, 80, 0.75);
    border-right: 1.5vw solid rgba(109, 84, 80, 0.75);
    border-bottom: 1.5vw solid transparent;
    border-left: 1.5vw solid transparent;
    transform-origin: bottom left;
    transform: rotateZ(-45deg);
    animation: shadow-c 1s infinite linear;
  }
  
  .bicy {
    position: absolute;
    top: 13.5vw;
    left: 17.3vw;
    width: 27vw;
    height: 19vw;
    transform-origin: bottom left;
    transform: rotateZ(10deg);
    animation: bicy 0.15s infinite linear;

  }
  .bicy__wheel-l, .bicy__wheel-r {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 10.8vw;
    height: 10.8vw;
    border: 0.4vw solid #432316;
    border-radius: 50%;
    box-shadow: inset 0.3vw 0.3vw 0 #E9A589, inset -0.3vw -0.3vw 0 #FFF6EF, inset -0.3vw 0.3vw 0 #E9A589, inset 0.3vw -0.3vw 0 #FFF6EF;
  }
  .bicy__wheel-l::before, .bicy__wheel-l::after, .bicy__wheel-r::before, .bicy__wheel-r::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border-top: 0.115vw solid #FFF6EF;
    border-bottom: 0.115vw solid #FFF6EF;
    border-left: 0.115vw solid transparent;
    border-right: 0.115vw solid transparent;
    animation: wheel 0.25s infinite linear;
  }
  .bicy__wheel-l::after, .bicy__wheel-r::after {
    width: 50%;
    height: 50%;
    border-top: 0.115vw solid transparent;
    animation: wheel 0.25s infinite linear;
  }
  .bicy__wheel-l {
    left: 0;
    z-index: -1;
  }
  .bicy__wheel-r {
    right: 0;
  }
  .bicy__fender {
    position: absolute;
    width: 115%;
    height: 125%;
    border-radius: 50%;
    border-top: 0.5vw solid #00665A;
  }
  .bicy__ac {
    position: absolute;
    width: 10.7vw;
    height: 3vw;
    bottom: 4vw;
    left: 4vw;
  }
  .bicy__ac::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 99%;
    height: 1.5vw;
    border: 0.3vw solid #3F3E3E;
    border-top: 0.3vw solid transparent;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
  }
  .bicy__ac::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border-left: 0.4vw solid #3F3E3E;
    border-bottom: 0.4vw solid #3F3E3E;
    z-index: -1;
  }
  .bicy__ac-top {
    position: absolute;
    width: 100%;
    height: 2vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    background-image: linear-gradient(-65deg, #009281 0, #009281 6vw, #FFF6EF 6vw, #FFF6EF 6.3vw, #009281 6.3vw, #009281 6.5vw, #FFF6EF 6.5vw, #FFF6EF 7.5vw, #009281 7.5vw, #009281 8vw, #FFF6EF 8vw);
  }
  .bicy__ac-top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 1vw;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 50%, transparent 50%);
  }
  .bicy__part-a, .bicy__part-b, .bicy__part-c {
    position: absolute;
    bottom: 5.8vw;
    left: 4.25vw;
    width: 0.7vw;
    height: 7.8vw;
    transform-origin: bottom left;
    transform: rotateZ(37deg);
    background-image: linear-gradient(to right, #FFF6EF 0.25vw, #FEDBC5 0.25vw);
  }
  .bicy__part-a {
    z-index: -1;
  }
  .bicy__part-b {
    left: 13vw;
    height: 8.2vw;
    background-image: linear-gradient(to right, #7ADACC 0.25vw, #009281 0.25vw);
    z-index: -1;
  }
  .bicy__part-c {
    left: 13.2vw;
    bottom: 9vw;
    height: 6.4vw;
  }
  .bicy__part-c::before {
    content: "";
    position: absolute;
    width: 3vw;
    height: 0.7vw;
    bottom: 0;
    right: 0.1vw;
    transform-origin: bottom right;
    transform: rotateZ(-37deg);
    background-image: linear-gradient(to bottom, #FFF6EF 0.25vw, #FEDBC5 0.25vw);
  }
  .bicy__part-d {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5.8vw;
    left: 12vw;
    width: 0.9vw;
    height: 9.5vw;
    transform-origin: bottom left;
    transform: rotateZ(-30deg);
    background-image: linear-gradient(to left, #FFF6EF 0.4vw, #FEDBC5 0.4vw);
    z-index: -1;
  }
  .bicy__part-d::before {
    content: "";
    position: absolute;
    top: -3.5vw;
    width: 0.5vw;
    height: 3.5vw;
    background-image: linear-gradient(to right, #A2A1A0 0.3vw, #d5d5d5 0.3vw);
  }
  .bicy__part-d::after {
    content: "";
    position: absolute;
    width: 3vw;
    height: 0.9vw;
    top: -4.7vw;
    border-radius: 1vw;
    transform-origin: bottom left;
    transform: rotateZ(30deg) skewX(-20deg);
    background-image: linear-gradient(to bottom, #009281, #00665A);
  }
  .bicy__part-e {
    position: absolute;
    width: 0.5vw;
    height: 7.2vw;
    right: 5.2vw;
    bottom: 5vw;
    transform-origin: bottom right;
    transform: rotateZ(8deg);
    background-image: linear-gradient(to right, #009281 0.25vw, #7ADACC 0.25vw);
  }
  .bicy__part-f {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 0.5vw;
    height: 9.2vw;
    right: 5.2vw;
    bottom: 5vw;
    transform-origin: bottom right;
    transform: rotateZ(-25deg);
    background-image: linear-gradient(to right, #009281 0.25vw, #7ADACC 0.25vw);
  }
  .bicy__part-f::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5vw;
    top: -1.5vw;
    background-image: linear-gradient(to left, #FFF6EF 0.25vw, #FEDBC5 0.25vw);
  }
  .bicy__part-f::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1.9vw;
    top: -3.4vw;
    background-image: linear-gradient(to left, #d5d5d5 0.25vw, #A2A1A0 0.25vw);
  }
  .bicy__part-g {
    position: absolute;
    right: 10vw;
    bottom: 16.3vw;
    width: 1.75vw;
    height: 1.75vw;
    transform: rotateZ(25deg) skewY(10deg);
    border-top: 0.2vw solid #d5d5d5;
    border-right: 0.2vw solid #d5d5d5;
    box-shadow: inset -0.1vw 0.1vw 0 #A2A1A0;
  }
  .bicy__part-g::before {
    content: "";
    position: absolute;
    width: 2.5vw;
    height: 0.5vw;
    transform: rotateZ(-60deg) skewY(0deg) translateY(-1vw) translateX(-1vw);
    border-radius: 1.5vw;
    background-image: linear-gradient(to bottom, #009281, #00665A);
  }
  .bicy__basket {
    position: absolute;
    bottom: 12vw;
    right: 4vw;
    width: 3vw;
    height: 3.5vw;
    background-color: #B96C5C;
    border-top: 0.25vw solid #EBB6A1;
    box-shadow: inset 0 0.25vw 0 #883E30;
  }
  .bicy__basket-a {
    position: absolute;
    width: 125%;
    bottom: 0;
    border-bottom: 0.25vw solid #883E30;
    z-index: 5;
  }
  .bicy__basket-a::before {
    content: "";
    position: absolute;
    width: 2vw;
    height: 3vw;
    left: -0.5vw;
    top: -2.8vw;
    background-image: linear-gradient(70deg, #883E30 1.35vw, transparent 1.35vw);
  }
  .bicy__basket-a::after {
    content: "";
    position: absolute;
    width: 2vw;
    height: 2.8vw;
    right: 0.15vw;
    top: -2.75vw;
    background-image: linear-gradient(-70deg, #EBB6A1 1.35vw, transparent 1.35vw);
  }
  .bicy__basket::before {
    content: "";
    position: absolute;
    top: -0.25vw;
    left: -1.75vw;
    width: 1.75vw;
    height: 3.5vw;
    border-top: 0.25vw solid #EBB6A1;
    background-image: linear-gradient(70deg, transparent 1vw, #883E30 1vw);
  }
  .bicy__basket::after {
    content: "";
    position: absolute;
    top: -0.25vw;
    right: -1.75vw;
    width: 1.75vw;
    height: 3.5vw;
    border-top: 0.25vw solid #EBB6A1;
    box-shadow: inset 0 0.25vw 0 #883E30;
    background-image: linear-gradient(-70deg, transparent 1vw, #EBB6A1 1vw);
  }
  
  .human {
    position: absolute;
    top: 6.5vw;
    left: 25vw;
    width: 13.5vw;
    height: 24.5vw;
    transform-origin: top left;
    animation: human 0.15s infinite linear;
  }
  .human__c {
    animation: human-c 0.15s infinite alternate;
  }
  .human__head {
    position: absolute;
    right: -2vw;
    top: 2.2vw;
    width: 3.75vw;
    height: 4.5vw;
    transform: rotateZ(10deg);
    animation: human-head 6s infinite;
  }
  .human__neck {
    position: absolute;
    bottom: 0;
    width: 1.3vw;
    height: 1.9vw;
    background-image: linear-gradient(-10deg, transparent 0.2vw, #B35644 0.2vw, #B35644 0.3vw, #FFAC90 0.6vw);
  }
  .human__face-a {
    position: absolute;
    bottom: 0.1vw;
    right: 0.5vw;
    width: 2.3vw;
    height: 2vw;
    transform: rotateZ(5deg);
    border-bottom-right-radius: 0.5vw;
    background-image: linear-gradient(to top, #B35644, #B35644 0.1vw, #FFAC90 0.4vw);
  }
  .human__face-b {
    position: absolute;
    top: 0.6vw;
    right: 0.7vw;
    width: 2.4vw;
    height: 2.2vw;
    transform: rotateZ(-20deg);
    overflow: hidden;
    background-color: #FFAC90;
  }
  .human__face-b::before {
    content: "";
    position: absolute;
    bottom: 20%;
    right: 40%;
    width: 3.2vw;
    height: 3.2vw;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #D45029, #8C1D0B);
    border-bottom: 0.25vw solid #8C1D0B;
  }
  .human__nose {
    position: absolute;
    right: 0.25vw;
    bottom: 35%;
    width: 0.9vw;
    height: 0.9vw;
    transform: rotateZ(-40deg);
    background-color: #FFAC90;
    border-bottom: 0.1vw solid #B35644;
    z-index: -1;
  }
  .human__hair {
    position: absolute;
    left: 0.35vw;
    top: 0.4vw;
    width: 3.2vw;
    height: 1.1vw;
    transform: rotateZ(-25deg);
    overflow: hidden;
    animation: human-hair 0.1s infinite linear alternate;
  }
  .human__hair::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 3.2vw;
    height: 3.2vw;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #D45029 60%, #8C1D0B);
    border-bottom: 0.25vw solid #8C1D0B;
  }
  .human__ear {
    position: absolute;
    top: 1.8vw;
    left: 1.2vw;
    width: 0.8vw;
    height: 1vw;
    border-radius: 50%;
    transform: rotateZ(-15deg);
    background-color: #FFAC90;
  }
  .human__cheek {
    position: absolute;
    top: 2.3vw;
    left: 2.2vw;
    width: 0.8vw;
    height: 0.6vw;
    border-radius: 50%;
    transform: rotateZ(-15deg);
    background-color: rgba(212, 80, 41, 0.35);
    filter: blur(2px);
  }
  .human__mouth {
    position: absolute;
    right: 0.4vw;
    bottom: 20%;
    width: 0.8vw;
    height: 0.5vw;
    transform: rotateZ(5deg);
    overflow: hidden;
  }
  .human__mouth::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 2.5vw;
    height: 1vw;
    border-radius: 50%;
    border-bottom: 0.2vw solid #EFE1DB;
  }
  .human__eye {
    position: absolute;
    top: 1.9vw;
    right: 0.65vw;
    width: 0.55vw;
    height: 0.15vw;
    background-color: #101010;
    border-radius: 50%;
    transform: rotateZ(-35deg);
    animation: human-eye 6s infinite;
  }
  .human__eye::before {
    content: "";
    position: absolute;
    width: 130%;
    height: 0.19vw;
    right: -0.31vw;
    top: -0.4vw;
    background-color: #101010;
    transform: skewX(-30deg);
  }
  .human__backpack {
    position: absolute;
    top: 5.2vw;
    left: 2.5vw;
    width: 6.5vw;
    height: 1.35vw;
    transform-origin: top left;
    transform: rotateZ(-20deg);
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background-image: linear-gradient(to bottom, #883E30, #3d1c15);
  }
  .human__backpack::before {
    content: "";
    position: absolute;
    top: -0.5vw;
    width: 2.5vw;
    height: 0.5vw;
    border-top-right-radius: 2vw;
    border-top-left-radius: 0.5vw;
    background-image: linear-gradient(to right, #622d23 30%, #009281 30%, #009281 40%, #883E30 40%, #883E30 50%, #009281 50%);
  }
  .human__backpack::after {
    content: "";
    position: absolute;
    top: 30%;
    width: 93%;
    height: 0.2vw;
    background-color: #B96C5C;
  }
  .human__chest {
    position: absolute;
    top: 7.2vw;
    left: 1vw;
    width: 10vw;
    height: 3.2vw;
    transform-origin: top left;
    transform: rotateZ(-20deg);
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 1vw;
    background-image: linear-gradient(to bottom, #FFF6EF 2vw, #FEDBC5);
  }
  .human__chest::before {
    content: "";
    position: absolute;
    top: -0.4vw;
    right: -2vw;
    width: 4vw;
    height: 3vw;
    transform-origin: top left;
    transform: rotateZ(30deg);
    background-image: linear-gradient(-35deg, transparent 1vw, #FEDBC5 1vw, #FFF6EF 2vw);
  }
  .human__chest::after {
    content: "";
    position: absolute;
    top: -0.5vw;
    right: -0.5vw;
    width: 7vw;
    height: 3.5vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 5vw;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 3vw;
    border: 0.4vw solid #622d23;
  }
  .human__arm-l {
    position: absolute;
    top: 5.45vw;
    left: 5.5vw;
    width: 5.5vw;
    height: 2vw;
    border-radius: 2vw;
    transform: rotateZ(-25deg);
    background-image: linear-gradient(to bottom, #FFAC90 80%, #B35644 90%);
  }
  .human__arm-l::before {
    content: "";
    position: absolute;
    right: 0;
    width: 55%;
    height: 100%;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    background-image: linear-gradient(to bottom, #FFF6EF 70%, #FEDBC5 90%);
    border-left: 0.25vw solid #B35644;
  }
  .human__arm-l-a {
    position: absolute;
    bottom: -3.5vw;
    left: -0.02vw;
    width: 1.5vw;
    height: 4.5vw;
    transform-origin: top left;
    transform: rotateZ(-25deg);
    background-image: linear-gradient(100deg, #FFAC90 1.55vw, transparent 1.55vw);
  }
  .human__arm-l-a::before {
    content: "";
    position: absolute;
    bottom: -1.75vw;
    left: -0.125vw;
    width: 1vw;
    height: 2vw;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 4vw;
    background-color: #FFAC90;
  }
  .human__arm-r {
    position: absolute;
    top: 5.45vw;
    left: 6vw;
    width: 5.5vw;
    height: 2vw;
    border-radius: 2vw;
    transform: rotateZ(-25deg);
    background-image: linear-gradient(to bottom, #FFAC90 80%, #B35644 90%);
    z-index: -5;
  }
  .human__arm-r::before {
    content: "";
    position: absolute;
    right: 0;
    width: 55%;
    height: 100%;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    background-color: #FFF6EF;
    border-left: 0.25vw solid #B35644;
  }
  .human__arm-r-a {
    position: absolute;
    bottom: -3.5vw;
    left: -0.02vw;
    width: 1.5vw;
    height: 4.5vw;
    transform-origin: top left;
    transform: rotateZ(-25deg);
    background-image: linear-gradient(100deg, #B35644 1.55vw, transparent 1.55vw);
  }
  .human__arm-r-a::before {
    content: "";
    position: absolute;
    bottom: -1.75vw;
    left: -0.125vw;
    width: 1vw;
    height: 2vw;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 4vw;
    background-color: #B35644;
  }
  .human__leg-l {
    position: absolute;
    top: 8vw;
    width: 2.5vw;
    height: 10vw;
    transform-origin: top left;
    transform: rotateZ(-35deg);
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background-image: linear-gradient(-82deg, transparent 0.775vw, #3F3E3E 0.775vw, #3F3E3E 1.75vw, #101010 1.75vw);
    animation: human-legg 0.15s infinite alternate;
  }
  .human__leg-l-a {
    position: absolute;
    bottom: -5.25vw;
    right: 0.5vw;
    height: 6.5vw;
    width: 2.5vw;
    transform-origin: top left;
    transform: rotateZ(30deg);
    border-top-left-radius: 2vw;
    background-image: linear-gradient(82deg, transparent 1.1vw, #101010 1.1vw, #101010 2.3vw, #3F3E3E 2.3vw);
  }
  .human__leg-l-a::before {
    content: "";
    position: absolute;
    bottom: -1.25vw;
    right: 0.1vw;
    width: 0.75vw;
    height: 1.25vw;
    background-image: linear-gradient(to bottom, #B35644 0.25vw, #FFAC90 0.25vw);
  }
  .human__leg-l-a::after {
    content: "";
    position: absolute;
    bottom: -3.5vw;
    left: 1.2vw;
    width: 4vw;
    height: 1.5vw;
    border-left: 4vw solid #101010;
    border-top: 1vw solid transparent;
    border-bottom: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-radius: 1vw;
    transform: rotateZ(20deg);
  }
  .human__leg-l-b {
    position: absolute;
    bottom: -8.75vw;
    right: 3.9vw;
    height: 0.5vw;
    width: 2.5vw;
    transform: rotateZ(35deg);
    background-image: linear-gradient(to bottom, #009281, #00665A);
  }
  .human__leg-r {
    position: absolute;
    top: 9vw;
    left: 0.5vw;
    width: 2.5vw;
    height: 10vw;
    transform-origin: top left;
    transform: rotateZ(-70deg);
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background-image: linear-gradient(-82deg, transparent 0.775vw, #101010 0.775vw);
    z-index: -5;
  }
  .human__leg-r-a {
    position: absolute;
    bottom: -4vw;
    right: 0.5vw;
    height: 6.5vw;
    width: 2.5vw;
    transform-origin: top left;
    transform: rotateZ(95deg) translateY(-2.2vw);
    border-top-left-radius: 2vw;
    background-image: linear-gradient(82deg, transparent 1.1vw, #101010 1.1vw);
  }
  .human__leg-r-a::before {
    content: "";
    position: absolute;
    bottom: -1.25vw;
    right: 0.1vw;
    width: 0.75vw;
    height: 1.25vw;
    background-image: linear-gradient(to bottom, #8e4436 0.25vw, #B35644 0.25vw);
  }
  .human__leg-r-a::after {
    content: "";
    position: absolute;
    bottom: -3.5vw;
    left: 1.2vw;
    width: 4vw;
    height: 1.5vw;
    border-left: 4vw solid #101010;
    border-top: 1vw solid transparent;
    border-bottom: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-radius: 1vw;
    transform: rotateZ(20deg);
  }
  
  .dog {
    position: absolute;
    bottom: 14.75vw;
    right: 3vw;
    width: 5.2vw;
    height: 4.5vw;
    animation: dog 0.075s infinite linear alternate;
  }
  .dog__head {
    position: absolute;
    left: 2vw;
    top: 0.675vw;
    width: 2vw;
    height: 2.25vw;
    border-radius: 1.5vw;
    background-color: #FFF6EF;
  }
  .dog__head::after {
    content: "";
    position: absolute;
    top: 0.5vw;
    right: 0.4vw;
    width: 0.6vw;
    height: 0.125vw;
    border-radius: 50%;
    background-color: #101010;
    transform: rotateZ(-30deg);
  }
  .dog__body {
    position: absolute;
    bottom: 0;
    left: 1.75vw;
    width: 2.5vw;
    height: 3vw;
    transition: bottom left;
    transform: rotateZ(15deg);
    background-image: linear-gradient(70deg, #FFF6EF 2.5vw, transparent 2.5vw);
    overflow: hidden;
  }
  .dog__body::before {
    content: "";
    position: absolute;
    right: 60%;
    bottom: 0;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-image: linear-gradient(to right, #D45029, #8C1D0B);
  }
  .dog__mouth-a {
    position: absolute;
    top: 1vw;
    right: 0;
    width: 2vw;
    height: 1vw;
    transform: rotateZ(-15deg);
    border-bottom-right-radius: 1vw;
    background-color: #FFF6EF;
    z-index: -1;
  }
  .dog__mouth-a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0.4vw;
    height: 0.3vw;
    border-radius: 1vw;
    background-color: #101010;
  }
  .dog__mouth-b {
    position: absolute;
    top: 2.5vw;
    right: 0.2vw;
    width: 1.5vw;
    height: 0.5vw;
    transform: rotateZ(-15deg);
    border-bottom-right-radius: 1vw;
    background-color: #FFF6EF;
  }
  .dog__ear {
    position: absolute;
    top: 1.35vw;
    width: 2.25vw;
    height: 1.45vw;
    transform: rotateZ(-15deg);
    border-top-left-radius: 0.25vw;
    border-bottom-left-radius: 0.75vw;
    background-image: linear-gradient(-10deg, transparent 0.25vw, #FFF6EF 0.25vw);
    overflow: hidden;
    animation: dog-ear 0.075s infinite linear alternate;
  }
  .dog__ear::before {
    content: "";
    position: absolute;
    bottom: 60%;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #D45029, #8C1D0B);
  }
  .dog__ear::after {
    content: "";
    position: absolute;
    bottom: 80%;
    right: 0;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #D45029, #8C1D0B);
  }
  .dog__tongue {
    position: absolute;
    top: 2vw;
    right: 1vw;
    width: 0.5vw;
    height: 1.25vw;
    background-image: linear-gradient(to top, #D45029, #8C1D0B);
    transform: rotateZ(25deg);
    border-top-left-radius: 2vw;
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 3vw;
    animation: dog-tongue 0.075s infinite linear alternate;
  }
  
  .heart {
    position: absolute;
    width: 1vw;
    height: 1vw;
    right: 7vw;
    background-color: #d02323;
    transform: rotateZ(-50deg);
    animation: heart 6s infinite linear, heart-opacity 6s infinite linear;
  }
  .heart::before, .heart::after {
    content: "";
    position: absolute;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #d02323;
  }
  .heart::before {
    bottom: 50%;
  }
  .heart::after {
    left: 50%;
  }
  
  /***********/
  /***********/
  @keyframes bicy {
    0%, 100% {
      top: 13.5vw;
      transform: rotateZ(10deg) scaleY(1);
    }
    20% {
      top: 13.65vw;
      transform: rotateZ(10deg) scaleY(0.998);
    }
    40% {
      top: 13.55vw;
      transform: rotateZ(10deg) scaleY(0.9975);
    }
    60% {
      top: 13.5vw;
      transform: rotateZ(10deg) scaleY(0.998);
    }
    80% {
      top: 13.6vw;
      transform: rotateZ(10deg scaleY(1));
    }
  }
  @keyframes human {
    0%, 100% {
      top: 6.5vw;
      left: 25vw;
    }
    20% {
      top: 6.6vw;
      left: 25vw;
    }
    40% {
      top: 6.55vw;
      left: 25vw;
    }
    60% {
      top: 6.45vw;
      left: 25vw;
    }
    80% {
      top: 6.6vw;
      left: 25vw;
    }
  }
  @keyframes human-head {
    0%, 70%, 100% {
      transform-origin: bottom left;
      transform: rotateZ(0);
    }
    80%, 95% {
      transform-origin: bottom left;
      transform: rotateZ(10deg);
    }
  }
  @keyframes human-eye {
    0%, 65%, 100% {
      height: 0.15vw;
      top: 1.9vw;
      transform: rotateZ(-35deg);
    }
    75%, 95% {
      height: 0.2vw;
      top: 2vw;
      transform: rotateZ(-20deg);
    }
  }
  @keyframes heart {
    0%, 75% {
      transform: translateY(0) rotateZ(-50deg) scaleZ(0);
    }
    85%, 95% {
      transform: translateY(-2.5vw) rotateZ(-50deg) scaleZ(1);
    }
    100% {
      transform: translateY(-6vw) rotateZ(-50deg) scaleZ(0);
    }
  }
  @keyframes heart-opacity {
    0%, 75% {
      opacity: 0;
    }
    85%, 90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes human-hair {
    to {
      transform: rotateZ(-35deg);
    }
  }
  @keyframes human-c {
    to {
      transform-origin: bottom left;
      transform: rotateZ(-0.75deg);
    }
  }
  @keyframes human-leg {
    to {
      transform: translateY(-0.1vw) rotateZ(-35deg);
    }
  }
  @keyframes wheel {
    to {
      transform: rotateZ(1turn);
    }
  }
  @keyframes line-a {
    to {
      width: 10.8vw;
      bottom: 19.85vw;
      left: 0vw;
    }
  }
  @keyframes line-b {
    to {
      width: 6.9vw;
      bottom: 17.9vw;
      left: 1vw;
    }
  }
  @keyframes line-c {
    to {
      width: 3.9vw;
      bottom: 12vw;
      left: 0vw;
    }
  }
  @keyframes line-d {
    to {
      width: 3vw;
      bottom: 25.95vw;
      left: 1vw;
    }
  }
  @keyframes shadow-a {
    to {
      height: 0.9vw;
      width: 148%;
    }
  }
  @keyframes shadow-b {
    to {
      height: 0.425vw;
      width: 95%;
    }
  }
  @keyframes shadow-c {
    0% {
      left: 100%;
      opacity: 0;
    }
    50% {
      left: 50%;
      opacity: 1;
    }
    100% {
      left: 0%;
      opacity: 0;
    }
  }
  @keyframes dog {
    to {
      right: 3.1vw;
      bottom: 14.7vw;
    }
  }
  @keyframes dog-ear {
    to {
      transform-origin: top left;
      top: 1.3vw;
      transform: rotateZ(-10deg);
    }
  }
  @keyframes dog-tongue {
    to {
      transform: rotateZ(45deg);
      height: 1.2vw;
    }
  }




/* footer */
footer{
    height: 150px;
    background-color: #505050;
    text-align: center;
}
footer .footer_copyright{
    width: 100%;
    margin-top: 50px;
}
footer .footer_copyright p{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
footer .footer_copyright span {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

/* top버튼 */
.top{
    position: fixed;
    bottom: 200px;
    right: 70px;
    padding: 20px;
    border: 2px solid #749fcc;
    border-radius: 5px;
    color: #749fcc;
    font-weight: 500;
    cursor: pointer;
}

/* .window_pop{
  z-index: 100;
} */
  .secondeye,.piegon,.asiana,.mega,.trip,.brochure,.detailpage1,.detailpage2,.package,.needly,.rico,.starbucks{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
.secondeye a{
    width: 1200px;
    height: 770px;
    position: fixed;
    top: 120px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 7px solid #749fcc;
}
.piegon a{
    width: 1200px;
    height: 770px;
    position: fixed;
    top: 120px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 7px solid #f1697a;
}
.asiana a{
    width: 1200px;
    height: 770px;
    position: fixed;
    top: 120px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 7px solid #37559d;
}
.mega a{
    width: 1200px;
    height: 770px;
    position: fixed;
    top: 120px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 7px solid #f3a901;
}
.trip a{
    position: fixed;
    width: 1000px;
    height: 428px;
    top: 250px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
}
.brochure a{
    position: fixed;
    width: 1200px;
    height: 420px;
    top: 250px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
}
.detailpage1 a{
    position: fixed;
    width: 156px;
    height: 800px;
    top: 100px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    font-size: 14px;
    color:#fff;
}
.detailpage2 a{
    position: fixed;
    width: 202px;
    height: 800px;
    top: 100px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
    font-size: 14.5px;
}
.package a{
    position: fixed;
    width: 772px;
    height: 555px;
    top: 150px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
    font-size: 14.5px;
}
.needly a{
    position: fixed;
    width: 400px;
    height: 700px;
    top: 150px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
    font-size: 14.5px;
}
.rico a{
  position: fixed;
  width: 1011px;
  height: 706px;
  top: 150px;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  border: 5px solid #fff;
  color:#fff;
  font-size: 14.5px;
}
.starbucks a{
    position: fixed;
    width: 1615px;
    height: 500px;
    top: 200px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
    font-size: 14.5px;
}

/* 팝업창 닫기 버튼 */
.close {
  position: fixed;
  top: 150px;
  right: 80px;
  width: 50px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label {
  font-size: .8em;
  line-height: 4em;
  text-transform: uppercase;
  color: #fff;
  transition: all .3s ease-in;
  opacity: 0;
}

.inner:before,
.inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #fff;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.close:hover label {
  opacity: 1;
}

.close:hover .inner:before,
.close:hover .inner:after {
  transform: rotate(0);
}

.close:hover .inner:before {
  top: 0;
}

.close:hover .inner:after {
  bottom: 0;
}
@media screen and (max-width:480px){
  /* header */
  header{
    background-color: #354259;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s;
  }
  header .header_center{
    display: none;
  }
  header .header_mobile{
      display: flex;
      justify-content: space-between; 
      margin: 0 auto;
  }
  header .header_mobile .logo{
    margin-top: 5px;
    width: 70px;
  }
  header .header_mobile .menu_btn{
    width: 30px;
    z-index: 105;
}
  #nav-icon4 {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon4 span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

  #nav-icon4 span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

  #nav-icon4 span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

  #nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3px;
  left: 5px;
  background-color: #fff;
  }

  #nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  }

  #nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  left: 6px;
  background-color: #fff;
  }
  header .header_mobile .mobile_gnb{
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 102;
    background-color: #474747;
    padding: 20px;
  }
  header .header_mobile .mobile_gnb nav ul {
    margin-top: 50px;
  }
  header .header_mobile .mobile_gnb nav ul li a{
    color: #fff;
  }

  /* section1 */
  .a1{
    height: 100vh;
    width: 100%;
    background-color: #354259;
  }
  .a1 .a1_box{
      height: 100%;
      width: 480px;
      display: block;
      margin: 0 auto;
      margin-top: 100px;
  }
  .a1 .a1_box .a1_left a{
      width: 100%;
      margin-right: 50px;
  }
  .a1 .a1_box .a1_right{
    width: 100%;
  }
  .a1_right .textcontainer {
    text-align: right;
    margin-right: 65px;
  }
  .a1_right .particletext {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    position: relative;
    color: #354259;
    text-shadow: 0 3px 5px #c4b59d, 0px -2px 1px #fff;
    letter-spacing: -5px;
  }
  .a1_right .particletext.hearts > .particle {
    opacity: 0;
    position: absolute;
    background-color: #7ADACC;
    -webkit-animation: hearts 3s ease-in infinite;
            animation: hearts 3s ease-in infinite;
  }
  .a1_right .particletext.hearts > .particle:before, body .particletext.hearts > .particle:after {
    position: absolute;
    content: "";
    border-radius: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #7ADACC;
  }
  .a1_right .particletext.hearts > .particle:before {
    transform: translateX(-50%);
  }
  .a1_right .particletext.hearts > .particle:after {
    transform: translateY(-50%);
  }

  /* section2 */
  .a2 > h2 {
    font-size: 30px;
    margin-top: 30px;
    color: #354259;
    text-shadow: 0 2px 5px #c4b59d, 0px -2px 1px #c4b59d;
  }
  .a2 > h5{
    padding: 0 70px 0 65px;
    text-align: center;
    font-size: 18px;
    margin: 50px 0 60px 0;
    font-weight: 500;
    color: #354259;
  }
  .a2 > h5 .particletext {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    position: relative;
    color: #354259;
    text-shadow: 0 8px 9px #c4b59d, 0px -3px 1px #fff;
    letter-spacing: 5px;
  }
  .a2 .a2_box {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-flow: row wrap;
  }
  .a2 .a2_box .a2_left{
    width: 48%;
    margin-left: 10px;
  }
  .a2 .a2_box .a2_left a {
    width: 200px;
    box-shadow: 3px 3px 6px rgb(139 139 139);
  }
  .a2 .a2_box .a2_center{
    width: 48%;
  }
  .a2 .a2_center ul li {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .a2 .a2_center ul li:last-child {
    margin-top: 35px;
  }
  .a2 .a2_center ul li p {
    color: #749fcc;
    --hover: #354259;
    padding: 0 15px;
    border: 2px solid #749fcc;
    font-size: 13px;
    margin: 0 20px;
    text-align: center;
  }
  .a2 .a2_center ul li:last-child p {
    padding: 0 23px;
  }
  .a2 .a2_right{
    margin-top: 30px;
  }

  /* section3 */
  .a3 {
    width: 480px;
  }
  .a3 > h2 {
    font-size: 30px;
    margin-top: 30px;
    text-shadow: 0 2px 5px #c4b59d, 0px -2px 1px #c4b59d;
  }
  .tool-set {
    transform: scale(1);
    width: 480px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  .tool-set svg {
    margin-bottom: 0;
  }
  .tool-set svg:last-child{
    margin-bottom: 30px;
  }

  /* section4 */
  .a4 > h2 {
    font-size: 30px;
    margin-top: 30px;
    text-shadow: 0 2px 5px #c4b59d, 0px -2px 1px #c4b59d;
  }
  .a4 .a4_pc{
    display: none;
  }
  .a4 .a4_mobile{
    display: block;
  }
  .a4 .a4_mobile .a4_top{
    width: 480px;
    margin: 0 auto;
  }
  .a4 .a4_mobile .a4_top ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .a4 .a4_mobile .a4_top ul li{
    margin-bottom: 30px;
  }
  .a4 .a4_mobile .a4_center {
    width: 480px;
    margin: 50px auto;
  }
  .a4 .a4_mobile .a4_center > div > div > div{
    width: 290px;
  }

  /* section5 */
  .a5 > h2 {
    font-size: 30px;
    margin: 0;
    text-shadow: 0 2px 5px #c4b59d, 0px -2px 1px #c4b59d;
  }
  .a5 .a5_box {
    width: 480px;
    margin: 0 auto;
    height: 500px;
    display: block;
    position: relative;
  }
  .a5 .a5_box .a5_left {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .a5 .a5_right {
    position: absolute;
    bottom: 410px;
    right: -50px;
    width: auto;
    height: auto;
  }
  .a5 .a5_box .a5_left #name,
  .a5 .a5_box .a5_left #email{
      width: 300px;
      height: 30px;
      border: none;
      border-radius: 8px;
      padding: 0 12px;
      outline: none;
      box-shadow: inset 0 4px 3px #ddd;
  }
  .a5 .a5_box .a5_left #message{
      width: 300px;
      height: 200px;
      padding: 12px;
      outline: none;  
      border: none;
      border-radius: 8px;
      box-shadow: inset 0 4px 3px #ddd;
  }
  .pure-button {
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    color: #444;
    /* color: rgba(0,0,0,.8); */
    border: transparent;
    background-color: #fff;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: inset 0 4px 3px #ddd;
  }
  .thankyou_message{
    width: 400px;
    margin: 150px 0 0 100px;
    font-size: 24px;
    line-height: 70px;
    color: #354259;
  }

  /* footer */
  footer{
    height: 100px;
    background-color: #505050;
    text-align: center;
  }
  footer .footer_copyright{
      width: 100%;
      margin-top: 30px;
  }
  footer .footer_copyright p{
      font-size: 12px;
      color: #fff;
      font-weight: 400;
  }
  footer .footer_copyright span {
      font-size: 12px;
      color: #fff;
      font-weight: 300;
  }

  /* mobile pop */
  .secondeye_mobile,.piegon_mobile,.asiana_mobile,.mega_mobile,.trip_mobile,.brochure_mobile,.detailpage1_mobile,.detailpage2_mobile,.package_mobile,.needly_mobile,.rico_mobile,.starbucks_mobile{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
.secondeye_mobile a{
    width: 400px;
    height: 650px;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    top: 140px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 7px solid #749fcc;
}
.piegon_mobile a{
    width: 400px;
    height: 650px;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    top: 140px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 7px solid #f1697a;
}
.asiana_mobile a{
    width: 400px;
    height: 650px;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    top: 140px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 7px solid #37559d;
}
.mega_mobile a{
    width: 400px;
    height: 650px;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    top: 140px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 7px solid #f3a901;
}
.trip_mobile a{
    position: fixed;
    width: 300px;
    height: 700px;
    top: 100px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
}
.brochure_mobile a{
    position: fixed;
    width: 400px;
    height: 577px;
    top: 140px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
}
.detailpage1_mobile a{
    width: 400px;
    height: 650px;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    top: 140px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    font-size: 14px;
    color:#fff;
}
.detailpage2_mobile a{
    width: 400px;
    height: 650px;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    top: 140px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
    font-size: 14.5px;
}
.package_mobile a{
    width: 400px;
    height: 650px;
    position: fixed;
    top: 140px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
    font-size: 14.5px;
}
.needly_mobile a{
    position: fixed;
    width: 380px;
    height: 665px;
    top: 140px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
    font-size: 14.5px;
}
.rico_mobile a{
  width: 400px;
  height: 650px;
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  top: 140px;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  border: 5px solid #fff;
  color:#fff;
  font-size: 14.5px;
}
.starbucks_mobile a{
    position: fixed;
    width: 380px;
    height: 570px;
    top: 140px;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    border: 5px solid #fff;
    color:#fff;
    font-size: 14.5px;
}


  .top{
    display: none;
  }
  .close {
    position: fixed;
    top: 80px;
    right: 15px;
    width: 40px;
    cursor: pointer;
  }
}